<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <style>
       #map {
        height: 550px;
        width: 100%;
       }
    </style>
</head>
<body onload="initMap({{locs|safe}})">
    <div>
        <table width="100%">
            <tr>
                <h3> Twitter trends on various topics </h3>
            </tr>
            <tr>
                <td width="80%">
                    <div id="map"></div>
                </td>
                <td width="20%">
                    <div id="input">
                        <form method="post">
                            <select name="tags" id="tags">
                                <option value=""></option>
                                <option value="Trump"> Trump </option>
                                <option value="Hillary"> Hillary </option>
                                <option value="Election"> Election</option>
                                <option value="NBA"> NBA </option>
                                <option value="google"> Google </option>
                                <option value="NYC"> NYC </option>
                                <option value="sports"> sports </option>
                                <option value="football"> football </option>
                                <option value="cricket"> cricket </option>
                            </select>
                            <input type="SUBMIT" value="Submit">
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script src="/static/script.js"></script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBo6qs5GNsSZuCBMt8Mzi7hfPL7wOVUjs8&callback=initMap">
    </script>
</body>
</html>